/* ======header.html cs样式======= */
.header .logo{
  position: absolute;
  display: block;
  font-size: 36px;
  color:#c60023;
  left: 60px;
  top: 34px;
  font-weight: bold;
  text-decoration: none;
}
.header .search-con{
  padding: 40px 0 30px 250px;
}
.header .search-con .search-input{
  height: 40px;
  line-height: 40px;
  width: 550px;
  border: 2px solid #e60023;
  padding-left: 10px;
  font-size: 15px;
  outline: none;
}
.header .search-con .search-btn{
  height: 44px;
  width: 80px;
  /* 小技巧:为了让btn和Input输入框贴合无缝隙 */
  position: absolute;
}

/* 面包屑导航样式 */
.crumb{
  margin-bottom: 15px;
  height: 50px;
  line-height: 50px;
  background: #eee;
  color: #888;
  font-size: 14px;
  border-top: 2px solid #c60023;
}